<div clas="row" *ngIf="!showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <carousel [itemsPerSlide]="itemsPerSlideBanner"
    [singleSlideOffset]="singleSlideOffset"
    [noWrap]="!noWrap"
    [interval]="false"
    [startFromIndex]="5"
    (slideRangeChange)="onSlideRangeChange($event)">
    <slide *ngFor="let slide of slides; let index=index" class="mx-auto">
  <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">    
  </slide>
  </carousel>
    </div>
</div>
<!-- Row 1 start-->
<div class="row"  *ngIf="!showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4 style="color:white;padding: 20px;font-family:verdana;"> Movie Lists</h4>
    </div>
</div>
<div clas="row"  *ngIf="!showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <carousel [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [noWrap]="!noWrap"
    [interval]="false"
    [startFromIndex]="5"
    (slideRangeChange)="onSlideRangeChange($event)">
    <slide *ngFor="let slide of slides; let index=index" class="mx-auto">
  <img [src]="slide.image" alt="image slide" style="display: block; width: 90%;" (click)="showMovie(slide)">    
  </slide>
  </carousel>
  </div>
</div>
<!-- Row 1 End-->
<!-- Row 2 Start-->
<div class="row"  *ngIf="!showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4 style="color:white;padding: 20px;font-family:verdana;"> Movie Lists 1</h4>
    </div>
</div>
<div clas="row"  *ngIf="!showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <carousel [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [noWrap]="!noWrap"
    [interval]="false"
    [startFromIndex]="5"
    (slideRangeChange)="onSlideRangeChange($event)">
    <slide *ngFor="let slide of slides; let index=index" class="mx-auto">
  <img [src]="slide.image" alt="image slide" style="display: block; width: 90%;">    
  </slide>
  </carousel>
  </div>
</div>
<div clas="row"  *ngIf="showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <app-video-player [src]="selectedSrc" (cancelFunction)="cancel($event)"></app-video-player>
    </div>
    </div>
 <!-- Row 2 End-->