<div clas="row" *ngIf="!showMovieScreen">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <carousel [itemsPerSlide]="itemsPerSlideBanner"
    [(activeSlide)]="activeSlideIndex"
    [singleSlideOffset]="singleSlideOffset"
    [noWrap]="!noWrap"
    [interval]="false"
    [startFromIndex]="5"
    (slideRangeChange)="onSlideRangeChange($event)">
    <slide *ngFor="let slide of slides; let index=index" class="mx-auto">
  <img [src]="slide.image" alt="image slide" style="display: block; width: 100%; height:500px; object-fit: cover;"> 
  
  <div class="carousel-caption d-none d-md-block" style="text-align: justify">
    <h1>Master</h1>
    <h2 style="font-family: Univia Pro;  color: #DEE4E7;">Action | Drama</h2>
    <h3 style="color:white">You can click on a link and jump to another document.<br>

     When you move the mouse over a link, the mouse arrow will turn into a little hand.</h3>
     <br>
            <i style="font-size:24px" class="fa">&#xf144;</i>
         <button type="button" class="btn text-white" style="font-size: 20px;" (click)="showMovie()">Play</button>&nbsp;&nbsp;
         <b style="font-size:24px;">|</b>&nbsp;&nbsp;
         <i class="fa fa-info-circle" aria-hidden="true"  style="font-size: 20px;"></i>
         <button type="button" class="btn text-white" style="font-size: 20px;"(click)="navigateTopage('movies');">More Info
         </button>


  </div>

  </slide>
  </carousel>
    </div>
</div>


    
 <!--Carousel Wrapper-->
 <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" *ngIf="!showMovieScreen">

     
  <!--Indicators-->
  <div>
    <h4 style="color:white;padding: 20px;font-family:verdana;"> Treanding Movie and TV shows</h4>
  </div>

  <!--/.Indicators-->

  <!--Slides-->
                  <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                      <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300" (click)="showMovie()" >
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"src="assets/img/thambi.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/BlackWidow.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>
                      
                      <!--<div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Button</a>
                          </div>
                        </div>
                      </div>-->
                      
                       <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">

                      <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"src="assets/img/thambi.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/BlackWidow.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>
                      
                     <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>
                    </div>
                    <!--/.Second slide-->

                   

                  </div>
                  <!--/.Slides-->

                   <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                </div>
<!--/.Carousel Wrapper-->













 <!--Carousel Wrapper-->
    <div id="multi-item-example1" class="carousel slide carousel-multi-item" data-ride="carousel" *ngIf="!showMovieScreen">

     
  <!--Indicators-->
  <div>
    <h4 style="color:white;padding: 20px;font-family:verdana;"> Action and advanture</h4>
  </div>

  <!--/.Indicators-->

  <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                      <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"src="assets/img/thambi.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/BlackWidow.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>
                      
                      <!--<div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Button</a>
                          </div>
                        </div>
                      </div>-->
                      
                       <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">

                      <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"src="assets/img/thambi.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/BlackWidow.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>
                      
                     <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>
                    </div>
                    <!--/.Second slide-->

                   


                   

                  </div>
                  <!--/.Slides-->

                   <a class="carousel-control-prev" href="#multi-item-example1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#multi-item-example1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                </div>
<!--/.Carousel Wrapper-->









 <!--Carousel Wrapper-->
    <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel" *ngIf="!showMovieScreen">

     
  <!--Indicators-->
  <div>
    <h4 style="color:white;padding: 20px;font-family:verdana;"> Thriller</h4>
  </div>

  <!--/.Indicators-->

  <!--Slides-->
                 <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                      <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"src="assets/img/thambi.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/BlackWidow.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>
                      
                      <!--<div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Button</a>
                          </div>
                        </div>
                      </div>-->
                      
                       <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">

                      <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"src="assets/img/thambi.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/BlackWidow.jpg" alt="Card image cap"  width="150" height="300">
                           </div>
                      </div>
                      
                     <div class="col-md-3" style="float:left">
                       <div class="card mb-2">
                          <img class="card-img-top" src="assets/img/master.jfif" alt="Card image cap"  width="150" height="300">
                        </div>
                      </div>
                    </div>
                    <!--/.Second slide-->

                   

                   

                  </div>
                  <!--/.Slides-->

                   <a class="carousel-control-prev" href="#multi-item-example2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#multi-item-example2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                </div>
<!--/.Carousel Wrapper-->




<div clas="row"  *ngIf="showMovieScreen">
  <div style="background-color: black; border: black;">
    <app-video-player [src]="selectedSrc" (cancelFunction)="cancel($event)"></app-video-player>
    </div>
    </div>