<!-- <vg-processing [showLoading]="showProcessing"></vg-processing>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="alert-box">
        <div class="modal-header">
            <h2 class="modal-title">{{title | translate}}</h2>           
            <a (click)="onCancel(bodyContent)">
                <img src="assets/img/icon-popup-close.gif">
            </a>
        </div>
        <div class="modal-body">
            <div *ngIf="bodyContent=='overSized'">
                <div class="row">
                    <div class="col-md-12">
                        <label translate="DOOR.OVERSIZED_SHIPMENT_MSG"></label>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row text-right">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-default btn-color" (click)="onCancel();">{{'DOOR.OK_BTN' | translate}}</button>
                    </div>
                </div>
            </div>

            </div>
            </div>
            </div> -->
