
<!-- Footer -->
<footer class="page-footer" style="background-color: black">
  <div clas="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div clas="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-light">
          <a href="#" style="color: white;">FAQ</a> &nbsp; | &nbsp;   <a href="#" style="color: white;">Teams of Uses</a> &nbsp; |  &nbsp; <a href="#" style="color: white;">Privacy Policy</a> &nbsp; |  &nbsp;   <a href="#" style="color: white;">Contact Us</a> 
          <br>
          <br>
          <p>@2020 &nbsp; Queen-Prime Limited.All Rights Reserved.</p>  
        </div>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        test
        </div>
      </div>
    </div>
   
  </div>
  </footer>
  <!-- Footer -->