<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: black;border: black;overflow: hidden; width: 100%;">

  <div class="container-fluid text-center text-md-left"  style="background-color: black;border: black;overflow: hidden; ">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 text-light">

        <!-- Content -->
        <a href="#" style="color: white;font-family: Univia Pro;">FAQ</a> &nbsp; | &nbsp;   <a href="#" style="color: white;font-family: Univia Pro;">Teams of Uses</a> &nbsp; |  &nbsp; <a href="#" style="color: white;font-family: Univia Pro;">Privacy Policy</a> &nbsp; |  &nbsp;   <a href="#" style="color: white;font-family: Univia Pro;">Contact Us</a> 


        <br>
        <br>
        <p style="font-family: Univia Pro;">@2020 &nbsp; Queen-Prime Limited.All Rights Reserved.</p>    
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

         <div class="page-content page-container" id="page-content">
     <div class="padding">
         <div class="row container d-flex justify-content-center">
             <div class="template-demo mt-2"> 
                <button class="btn btn-outline-light btn-icon-text"> 
                    <i class="fa fa-apple btn-icon-prepend mdi-36px"></i> 
                    <span class="d-inline-block text-left">
                     <small class="font-weight-light d-block">Available on the</small> App Store </span> 
                 </button>
                 &nbsp;
                  <button class="btn btn-outline-light btn-icon-text"> 
                    <i class="fa fa-android btn-icon-prepend mdi-36px"></i>
                     <span class="d-inline-block text-left">
                      <small class="font-weight-light d-block">Get it on the</small> Google Play </span> 
                  </button>
                   </div>
         </div>
     </div>
 </div>
       
        </div>
      <!-- Grid column -->

    

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
 
  <!-- Copyright -->
  
  </footer>
  <!-- Footer -->