/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-header .mat-step-icon {
    display: none !important;
}
mat-step-header .mat-step-label.mat-step-label-active {
    background-color: #FFF0D3;
    padding: 15px;
    color: #000 !important;
}
.submit-btn{
    background-color: #D8A13E;
    border: #FFF0D3;  
    padding:10px;
    border-radius:3px;
    color:black;
}
.mat-card{
    padding:20px !important; 
}

.carousel-indicators li{
    display:none;
}

.steps-progressbar > ul {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    margin: 12px 0 10px;
    width: 100%;
    padding: 0;
    list-style: none;
    color: #999;
    font-size: 14px;
    font-weight: 400;
  }
  
  .steps-progressbar > ul > li {
    position: relative;
    display: table-cell;
    list-style-type: none;
    font-weight: 400;
    text-align: center;
  }
  
  .steps-progressbar > ul > li:before {
    position: inherit;
    display: block;
    margin: 10px auto 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #ededed;
    border-radius: 50%;
    background-color: #fff;
    line-height: 30px;
    content: " ";
    z-index: 1;
  }
  
  .steps-progressbar > ul > li:after {
    position: absolute;
    top: 19px;
    right: 50%;
    width: 100%;
    height: 12px;
    box-shadow: inset 0 0 5px #f2f8fc;
    background-color: #e3e3e3;
    content: " ";
    z-index: 0;
  }
  
  .steps-progressbar > ul > li:first-child:after {
    content: none;
  }
  
  .steps-progressbar > ul > li.active:before, .steps-progressbar > ul > li.previous:before {
    border-color: #E1BC79;
    background-color: #E1BC79;
  }
  
  .steps-progressbar > ul > li.active:after, .steps-progressbar > ul > li.previous:after {
    box-shadow: none;
    background-color: #E1BC79;
  }
  
  .steps-progressbar > ul > li.active:before {
    margin-top: 0;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
  }
  
  .modal-content{
      background-color: black !important;

  }
  video {
    width: 100% !important;
    
    border: #000;
  }

  .page-footer
  {
    flex-shrink: none !important;

  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #000 !important;
  }
  .navbar-nav
  {
    color:#EBC684 !important;
  }
  .active,.navbar-nav:hover
  {
    color:#EBC684 !important; 
  }

  
  