<div class="row" style="background:#fff">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <h1 class="text-center"><strong>Register with three simple steps</strong></h1>
    <mat-horizontal-stepper linear #stepper class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mx-auto">
      
      <mat-step [stepControl]="firstFormGroup">
        
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Step 1</ng-template>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Enter your Email ID</mat-label>
            <input matInput formControlName="emailId" placeholder="Enter Your Email ID" required>
          </mat-form-field>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Enter your Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber" placeholder="Enter your Mobile Number" required>
          </mat-form-field>       
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Create Password</mat-label>
            <input matInput formControlName="createPassword" placeholder="Create Password" required>
          </mat-form-field>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" placeholder="Confirm Password" required>
          </mat-form-field>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
           <button class="submit-btn col-lg-12 col-md-12 col-sm-12 col-xs-12" color="primary" mat-raised-button matStepperNext type="submit" [disabled]="!firstFormGroup.valid">Next</button>
           <div style="text-align: center;">
            <a class="already" style="font-size: 15px;" href="#"><strong>Have Account</strong>? Login now.</a>
          </div>
        
        </div>
           </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Step 2</ng-template>  
          <br>   
          <button class="submit-btn" mat-button matStepperPrevious>Go Back</button>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button class="btn btn-outline-dark btn-block" type="button">
                <div class="heading">
                  <h1>Monthly Plan</h1>
              </div>
              <div class="price">
                  <h2>₹150</h2>
                  <p>1 User</p>
              </div>
              <div class="features">
                  <h4><span class="feature">&nbsp;<i class="fa fa-check"></i></span><span>All features in basic</span></h4>
                  <h4><span class="feature">&nbsp;<i class="fa fa-check"></i></span><span>Flexible cancel policy</span></h4>
                  <h4><span class="feature">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i></span><span>unbeatable quality and price</span></h4>
              </div>
              </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-outline-dark btn-block" type="button">
                <div class="heading">
                    <h1>Monthly Plan</h1>
                </div>
                <div class="price">
                    <h2>₹150</h2>
                    <p>2User</p>
                </div>
                <div class="features">
                    <h4><span class="feature">&nbsp;<i class="fa fa-check"></i></span><span>All features in basic</span></h4>
                    <h4><span class="feature">&nbsp;<i class="fa fa-check"></i></span><span>Flexible cancel policy</span></h4>
                    <h4><span class="feature">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i></span><span>unbeatable quality and price</span></h4>
                </div>

              </button>
                </div>
          </div>   
          <br>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
           <button class="submit-btn col-lg-12 col-md-12 col-sm-12 col-xs-12" color="primary" mat-raised-button matStepperNext type="submit">Next</button>
           </div>
           </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Step 3</ng-template>
          <button class="submit-btn" mat-button matStepperPrevious>Go Back</button>
          <br>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Name as in Card</mat-label>
            <input matInput formControlName="cardName" placeholder="Name as in Card" required>
          </mat-form-field>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber" placeholder="Card Number" required>
          </mat-form-field>       
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Expiry Date</mat-label>
            <input matInput formControlName="expiryDate" placeholder="MM/YY" required>
          </mat-form-field>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>CVV</mat-label>
            <input matInput formControlName="cvv" placeholder="CVV" required>
          </mat-form-field>
          <div class="form-check">
          &nbsp;&nbsp; &nbsp;&nbsp;
            <input type="checkbox" class="form-check-input" id="exampleCheck1"><label class="form-check-label" for="exampleCheck1">By Clicking this you agree to our terms and conditions</label>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
           <button class="submit-btn col-lg-12 col-md-12 col-sm-12 col-xs-12" color="primary" mat-raised-button (click)="stepper.reset()" type="submit" [disabled]="!thirdFormGroup.valid">Subscribe</button>
           </div>
           </div>
        </form>
      </mat-step>           
    </mat-horizontal-stepper>
  </div>
</div>
